.Main-home {
    background-image: url(/imgs/banner1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: flex;
    align-items: center;
    /* Centrado vertical */
    justify-content: flex-end;
    /* Empuja a la derecha */
    padding-right: 10%;
    /* Separación del borde derecho */
}

.Home-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alineación interna hacia la izquierda dentro del bloque */
    justify-content: center;
    /* Centrado vertical del contenido dentro del bloque */
    width: 50%;
    /* Ajusta el tamaño del bloque si quieres más o menos espacio */
}

.Home-title {
    font-size: 4rem;
    font-family: "Borel", sans-serif;
    color: #202020;
}

.Home-info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 1.5rem;
    color: #202020;
}

.Home-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 30px;
    margin: 20px 0px;
    text-decoration: none;
    color: #fff;
    background-color: #202020;
    border: none;
    border-radius: 20px;


}

.Home-btn:hover {
    transform: scale(1.05);
    color: #f2d388;

}

/* Tablets (≤ 768px) */
@media (max-width: 768px) {
    .Main-home {
        justify-content: center;
        /* Centrar contenido horizontalmente */
        padding-right: 0;
        text-align: center;
    }

    .Home-text {
        width: 80%;
        align-items: center;
        /* Centrar contenido */
    }

    .Home-title {
        font-size: 2.5rem;
    }

    .Home-info {
        font-size: 1.2rem;
        text-align: center;
    }

    .Home-btn {
        font-size: 1.2rem;
        padding: 20px;
    }
}

/* Móviles (≤ 480px) */
@media (max-width: 480px) {
    .Main-home {
        padding: 20px;
        background-position: top;
        /* Enfoca el centro superior */
    }

    .Home-text {
        width: 100%;
        align-items: center;
    }

    .Home-title {
        font-size: 2rem;
    }

    .Home-info {
        font-size: 1rem;
    }

    .Home-btn {
        font-size: 1rem;
        padding: 15px;
    }
}